button{
    border: none;
    background-color: black;
    color: white;
    font-size: 0.7em;
    padding: 20px;
    font-family: consolas;
}

select{
    color: white;
    background-color: black;
    border: none;
    padding: 7px;
}

body{
    background-color: lightgray;
}

.btn-con{
    background-color: black;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid blue;
}

#bq{
    margin-top: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(50, 49, 49);
    padding: 10px;
    /* width: 40%;
    height: 25%; */
    font-style: italic;
    margin-left: 200px;
    border-left: 8px solid rgb(154, 152, 152);
}

/* #ediText{
    background-color: white;
    display: flex;
    margin-top: 0.6%;
    margin-left: 25%;
    padding: 20px;
    position: absolute;
    height: 90%;
    width:  50%;
} */

img{
    width: 15px;
    height: 10px;
}

#editor{
    background-color: white;
    text-align: left;
    margin-left: 30%;
    width: 45%;
    height: auto;
    /* padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 6px; */
    padding: 10px;
    
}

#editor2{
    background-color: white;
    text-align: left;
    margin-left: 30%;
    width: 45%;
    height: auto;
    padding: 10px;
    border-style: dotted;
    
}
